@font-face {
  font-family: "Sohne Breit Buch";
  src: url("../fonts/testsohnebreit-buch-webfont.woff"), url("../fonts/testsohnebreit-buch-webfont.woff2");
}
@font-face {
  font-family: "Sohne Breit Kraftig";
  src: url("../fonts/testsohnebreit-kraftig-webfont.woff"), url("../fonts/testsohnebreit-kraftig-webfont.woff2");
}
@font-face {
  font-family: "Sohne Breit Halbfett";
  src: url("../fonts/testsohnebreit-halbfett-webfont.woff"), url("../fonts/testsohnebreit-halbfett-webfont.woff2");
}
@font-face {
  font-family: "Sohne Breit Fett";
  src: url(../fonts/testsohnebreit-fett-webfont.woff), url(../fonts/testsohnebreit-fett-webfont.woff2);
}
body {
  font-family: "Sohne Breit Buch";
}

header {
  background-image: url("../img/png/Header_Bg_Youth.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
header .wrapper {
  padding: 40px 80px 0px;
}
header .wrapper div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .wrapper div .cover {
  max-width: 1088px;
  gap: 400px;
}
header .wrapper div .cover nav {
  padding-left: 80px;
}
header .wrapper div .cover nav .nav_central_menu ul {
  display: flex;
  gap: 32px;
}
header .wrapper div .cover nav .nav_central_menu ul li {
  border-bottom: 2px solid transparent;
}
header .wrapper div .cover nav .nav_central_menu ul li a {
  text-transform: uppercase;
  font-family: "Sohne Breit Kraftig";
  font-weight: 400;
  font-size: 10px;
  color: #272727;
}
header .wrapper div .cover nav .nav_central_menu ul li:hover {
  border-bottom: 2px solid #f0704e;
}
header .wrapper div .cover .nav_right_menu {
  display: flex;
}
header .wrapper div .cover .nav_right_menu a span {
  text-transform: uppercase;
  padding: 10px 31px;
  font-family: "Sohne Breit Buch";
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  transition: ease 1s;
}
header .wrapper div .cover .nav_right_menu a span:hover {
  background-color: rgba(255, 255, 255, 0.1490196078);
  border-radius: 105px;
  transition: ease 1s;
}
header .wrapper div.offer {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  align-items: flex-start;
}
header .wrapper div.offer h1 {
  font-size: 72px;
  font-weight: 800;
  font-family: "Sohne Breit Buch";
  background: url("../img/png/Header_Text_Bg_Img.png") no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  max-width: 484px;
  padding-top: 120px;
  margin-bottom: 24px;
}
header .wrapper div.offer p {
  font-weight: 400;
  font-size: 18px;
  line-height: 171%;
  color: #595959;
  margin-bottom: 34px;
}
header .wrapper div.offer a {
  margin-bottom: 228px;
}
header .wrapper div.offer span {
  font-family: "Sohne Breit Kraftig";
  font-size: 12px;
  border-radius: 105px;
  padding: 11px 35px;
  background: #03f;
  color: #fff;
  text-transform: uppercase;
  transition: ease 1.5s;
}
header .wrapper div.offer span:hover {
  background: #f0704e;
  color: #272727;
  transition: ease 1.5s;
}

.featured_in .wrapper {
  padding: 40px 80px 0px;
}
.featured_in .wrapper .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 127px;
}
.featured_in .wrapper .feature h3 {
  text-transform: uppercase;
  font-family: "Sohne Breit Halbfett";
  font-weight: 400;
  font-size: 13px;
  color: #606060;
  margin-bottom: 30px;
}
.featured_in .wrapper .feature article {
  max-width: 1052px;
  display: flex;
  align-items: center;
  gap: 79px;
}
.featured_in .wrapper .feature article div {
  max-width: 147px;
}

.sound {
  position: relative;
}
.sound .wrapper {
  padding: 40px 80px 0px;
}
.sound .wrapper .sounds {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sound .wrapper .sounds h2, .sound .wrapper .sounds h3 {
  font-family: "Sohne Breit Fett";
  font-weight: 400;
}
.sound .wrapper .sounds h2 {
  font-size: 48px;
  line-height: 108%;
  color: #272727;
  margin-bottom: 18px;
}
.sound .wrapper .sounds h2 span {
  color: #03f;
}
.sound .wrapper .sounds h3 {
  font-size: 16px;
  color: rgba(96, 96, 96, 0.5);
  text-transform: uppercase;
  margin-bottom: 4px;
}
.sound .wrapper .sounds p {
  font-weight: 400;
  font-size: 18px;
  line-height: 171%;
  text-align: center;
  color: #958a8a;
  max-width: 558px;
  display: inline-block;
  margin-bottom: 34px;
}
.sound .wrapper .sounds a span {
  font-family: "Sohne Breit Kraftig";
  font-size: 12px;
  border-radius: 105px;
  background: #03f;
  padding: 11px 35px;
  color: #fff;
  text-transform: uppercase;
  transition: ease 1.5s;
  margin-bottom: 50px;
}
.sound .wrapper .sounds a span:hover {
  background: #f0704e;
  color: #272727;
  transition: ease 1.5s;
}
.sound .wrapper .sounds img {
  padding-top: 61px;
}
.sound .wrapper .sounds svg {
  position: absolute;
  width: 100%;
  z-index: -3;
  top: 332px;
}

.build_ds {
  background-image: url(../img/png/Build_ds_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 1004px;
  position: relative;
  top: -240px;
  z-index: -4;
}
.build_ds .wrapper {
  padding: 40px 80px 0px;
}
.build_ds .wrapper article {
  position: absolute;
  top: 322px;
  display: flex;
  max-width: 1156px;
  gap: 231px;
}
.build_ds .wrapper article .logos {
  background: #606060;
  max-width: 502px;
}
.build_ds .wrapper article .ds_offer {
  display: flex;
  flex-direction: column;
  max-width: 423px;
}
.build_ds .wrapper article .ds_offer h2, .build_ds .wrapper article .ds_offer h3 {
  font-family: "Sohne Breit Fett";
  font-weight: 400;
}
.build_ds .wrapper article .ds_offer h2 {
  font-size: 48px;
  color: #272727;
  line-height: 108%;
  margin-bottom: 18px;
}
.build_ds .wrapper article .ds_offer h2 span {
  color: #03f;
}
.build_ds .wrapper article .ds_offer h3 {
  font-size: 16px;
  color: rgba(96, 96, 96, 0.3137254902);
}
.build_ds .wrapper article .ds_offer p {
  font-weight: 400;
  font-size: 18px;
  line-height: 171%;
  color: #958a8a;
  margin-bottom: 34px;
}
.build_ds .wrapper article .ds_offer a span {
  font-family: "Sohne Breit Kraftig";
  font-size: 12px;
  border-radius: 105px;
  background: #03f;
  padding: 11px 35px;
  color: #fff;
  text-transform: uppercase;
  transition: ease 1.5s;
  margin-bottom: 50px;
}
.build_ds .wrapper article .ds_offer a span:hover {
  color: #272727;
  background: #f0704e;
  transition: ease 1.5s;
}/*# sourceMappingURL=preproc.css.map */